<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
    .active {
      background: cadetblue;
    }
      .like_style {
        background: aquamarine;
      }
    </style>
    <title>my-project</title>
  </head>
  <body>
    <!--<div id="origin_app"></div>-->
    <!-- built files will be auto injected -->
  <!--<div id="test_for">-->
    <!--<ul>-->
      <!--<li v-for="food in foodList">-->
        <!--{{ food.name }}: ￥{{ food.discount ? food.price * food.discount : food.price }}-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--<div id="test_bind">-->
    <!--<a v-bind:href="url" v-bind:class="{active: isActive}">-->
      <!--baidu-->
      <!--<img v-bind:datasrc="v_img">-->
    <!--</a>-->
  <!--</div>-->
  <!--<div id="test_on">-->
    <!--<button v-on:click="onClick" v-on="{mouseenter: onEnter, mouseleave: onLeave}">on_click</button>-->
    <!--<form v-on:keyup.enter="keyEnter" v-on:submit.prevent="onSubmit()">-->
      <!--<input type="text">-->
      <!--<button type="submit">submit</button>-->
    <!--</form>-->
  <!--</div>-->
    <!--<div id="test_modle">-->
    <!--&lt;!&ndash;<input type="text" v-model.trim="modleName">&ndash;&gt;-->
      <!--&lt;!&ndash;<pre>{{ modleName }}</pre>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" v-model.number="modleNum">&ndash;&gt;-->
      <!--&lt;!&ndash;<pre>{{ modleNum }}</pre>&ndash;&gt;-->
      <!--<label>-->
        <!--male-->
        <!--<input v-model="sex" value="&ndash;&gt;male" type="radio">-->
      <!--</label>-->
      <!--<label>-->
        <!--female-->
        <!--<input v-model="sex" value="&ndash;&gt;female" type="radio">-->
      <!--</label>-->
      <!--<pre>{{sex}}</pre>-->

      <!--<label>-->
        <!--apple-->
        <!--<input v-model="fruits" value="apple" type="checkbox">-->
      <!--</label>-->
      <!--<label>-->
        <!--banana-->
        <!--<input v-model="fruits" value="banana" type="checkbox">-->
      <!--</label>-->
      <!--<label>-->
        <!--peach-->
       <!--<input v-model="fruits" value="peach" type="checkbox">-->
      <!--</label>-->
      <!--<label>-->
        <!--cherry-->
        <!--<input v-model="fruits" value="cherry" type="checkbox">-->
      <!--</label>-->
      <!--<pre>{{fruits}}</pre>-->

      <!--<select v-model="meat" multiple>-->
        <!--<option value="->1">beef</option>-->
        <!--<option value="->2">pork</option>-->
        <!--<option value="->3">chicken</option>-->
      <!--</select>-->
      <!--<pre>{{meat}}</pre>-->
    <!--</div>-->
  <!--<div id="test_if">-->
    <!--<div v-if="role='admin'">-->
      <!--<pre>&ndash;&gt;v-if</pre>-->
    <!--</div>-->
    <!--<div v-else>-->
      <!--<pre>&ndash;&gt;v-else</pre>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id="test_computed">-->
    <!--<table border="1">-->
      <!--<tbody>-->
        <!--<tr>-->
          <!--<td>math</td>-->
          <!--<td><input type="text" v-model.number.lazy="math"></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>physics</td>-->
          <!--<td><input type="text" v-model.number.lazy="physics"></td>d>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>english</td>-->
          <!--<td><input type="text" v-model.number.lazy="english"></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>sum</td>-->
          <!--<td>{{ sum }}</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>average</td>-->
          <!--<td>{{ average }}</td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->
    <div id="v_component">
      <!--<alert></alert>-->
      <like></like>
    </div>
  </body>
</html>
